<%- include("../Partials/lheader.ejs") -%>
<h1 class="text-4xl my-10 text-red-500 text-center">Error</h1>
<p class="font-sans text-black text-center"><%= msg %></p>
<div class="mx-auto w-full my-10 text-center">
<a class="bg-purple-500 text-white px-10 py-4 shadow-md rounded-full font-bold my-3 hover:shadow-xl active:scale-90 transition duration-150" href="<%= red %>" role="button"><%= btnName %></a>
</div>
<%- include("../Partials/footer.ejs") -%>